body
{
  height: 100%;

}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  border-spacing: 5px;
  padding: 15px;
}
#Layer1 {
	position:absolute;
	left:100px;
	top:20px;
	width:300px;
	height:60px;

}
input[type=text], select {
  width: 90%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  }
input[type=number], select {
  width: 90%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=password] {
  width: 90%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  } 
input[type=submit] {
  width: 100%;
  background-color: rgb(116, 171, 192);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
  
input[type=submit]:hover {
  background-color: rgb(90, 164, 194);
  }
  
div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  }
.Layer5{
  display: none;
  width:500px;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

}
h2{
  text-align: center;
  text-emphasis:bold;
  }
#form{
  width:500px;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 1050px){
.menu{
    text-align: center;
    width: 100%;
}

#form{
  width: 400px;
}
.Layer5{
  width: 400px;
}
}
@media screen and (max-width: 800px){
.nav > .nav-btn {
  display: inline-block;
  position: absolute;
  right: 0px;
  top: 0px;
}
.nav > .nav-btn > label {
  display: inline-block;
  width: 50px;
  height: 50px;
  padding: 13px;
}
.nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
  background-color: rgba(0, 0, 0, 0.3);
}
.nav > .nav-btn > label > span {
  display: block;
  width: 25px;
  height: 10px;
  border-top: 2px solid #eee;
}
.nav > .nav-links {
  position: absolute;
  display: block;
  width: 100%;
  background-color: #333;
  height: 0px;
  transition: all 0.3s ease-in;
  overflow-y: hidden;
  top: 50px;
  left: 0px;
}
.nav > .nav-links > a {
  display: block;
  width: 100%;
}
.nav > #nav-check:not(:checked) ~ .nav-links {
  height: 0px;
}
.nav > #nav-check:checked ~ .nav-links {
  height: calc(100vh - 50px);
  overflow-y: auto;
}

#form{
  width:300px;
}
.Layer5{
  width:300px;
}
}
@media screen and (max-width: 400px){
#form{
  width: 200px;
}
.Layer5{
  width: 200px;
}
}
